# Do not touch anything after the line skip
# The first line can be used for customization and indentification of your device
# This is an example i have for my teensy
# You can add more devices, just make sure thay also have the second line configurationss
# For more info on what attributes you can do, do "man udev"

SUBSYSTEM=="tty", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="04*", ATTRS{serial}=="6887290", SYMLINK+="teensy_main", \
TAG+="systemd", ENV{SYSTEMD_WANTS}="mcu-monitor@%k.service", GROUP="dialout"


