[Unit]
Description=MCU monitor (%I)
After=dev-%i.device
BindsTo=dev-%i.device

[Service]
Type=simple
User=robot
Group=dialout
EnvironmentFile=/etc/robot_path.conf
ExecStart=/home/robot/mcu_monitor.sh %i
Restart=on-failure
RestartSec=2s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

